* {
    box-sizing: border-box;
}
.login-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
    width:50vw;
    height: 60vh;
    margin: 10% auto;
    border: 2px solid #ccc;
    border-radius: 15px;
    overflow:hidden;





}
.login-form {
    display:flex;
    padding: 2rem;
    grid-column: 1/2;

    align-self: center;
    height:100%;
    width:100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    background-color: #FDFCF8;
    
    
   
  
}

.image-container {
    overflow: hidden;
    grid-column: 2/-1;
    
}
body {
    background-color: #FAF3E7;
}
img {
    width: 100%;
    height: 100%;
    

    object-fit: cover;
   

}

h2 {
    text-align: center;
    font-size: 2rem;
    font-family:Caveat Brush, cursive , sans-serif;



}
.form-group {
 
    padding: 2rem;
}
input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #594D3F;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
}
.slogan {
    font-family: 'Caveat Brush', cursive;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    .login-container {
        grid-template-columns: 1fr;
        width: 80vw;
        height: auto;
    }
    .image-container {
        display: none;
    } 
}
@media screen and (max-height: 768px) {
    .login-container {
        grid-template-columns: 1fr;
        width: 80vw;
        height: auto;
    }
    .image-container {
        display: none;
    }
}

label {
    font-weight:bold;
}
.login-btn {
    width:4rem;
    padding:0.5rem;
    font-family: Roboto, sans-serif;

}
a { 
    text-decoration: none;
    color: #C96F48;
}
a:hover {
    text-decoration: underline;
    color: darkred;
}   
.signup-link {
    font-style: normal;
    font-family: Roboto, sans-serif;
    font-size: 0.9rem;

}
.login-btn:hover {
    background-color:#C96F48;
    
}
nav {
    border:5px solid black;
    display:hidden;
}
