.food-details-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.food-details-container img {
  width: 100%;
  max-width: 400px;  /* Limit the image size */
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
}

.food-details-container h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
  font-weight: 600;
}

.food-details-container p {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

.food-details-container .product-price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4CAF50;
  margin-bottom: 20px;
}

.add-to-cart-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.add-to-cart-btn:hover {
  background-color: #45a049;
  transform: translateY(-2px);
  transition: 0.2s;
}

